<div class="page">
  <!-- CURRENT BLACK CARD -->

  <div class="top-flex">
    <div class="card black-card">
      {{ currentBlack()?.text }}
    </div>

    @for (card of handPick; track $index) {
      <div class="card white-card"></div>
    }
  </div>

  <button (click)="confirmSelection()">Confirm Selection</button>

  <!-- SELECTED WHITE CARD DISPLAY -->
  <div class="white-grid">
    @for (card of handPick; track $index) {
      <button
        class="card small white-card hand-pick"
        [class.chosen]="selectedWhite()?.id === card.id"
        (click)="selectWhiteCard(card)"
        onKeyPress="selectWhiteCard(card)"
      >
        {{ card.text }}
      </button>
    }
  </div>

  <!-- WHITE CARDS GRID -->
  <div class="white-grid"></div>

  <button class="next-btn" (click)="nextRound()">Próxima ronda</button>
</div>
