.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* pushes footer to the bottom */
}

app-footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem;
}
