@if (game(); as game) {
  <div class="page">
    <div class="top-flex">
      <div class="card black-card">{{ game.currentRound.promptCard.text }}</div>

      @for (card of game.currentRound.picks; track $index) {
        <div class="card white-card"></div>
      }
    </div>

    <button (click)="handleAnswerCardSubmit()" [disabled]="!selectedAnswerCard() || hasSubmitted()">
      Confirm Selection
    </button>

    <!-- SELECTED WHITE CARD DISPLAY -->
    <div class="white-grid">
      @for (card of handPick(); track $index) {
        <button
          class="card small white-card hand-pick"
          [ngClass]="{
            chosen: selectedAnswerCard()?.id === card.id,
            'can-pick': !hasSubmitted(),
          }"
          (click)="selectCard(card)"
        >
          {{ card.text }}
        </button>
      }
    </div>

    <!-- WHITE CARDS GRID -->
    <div class="white-grid"></div>

    <app-game-player-list
      [players]="game.players"
      [currentUser]="currentPlayer() ?? null"
      [czar]="game.currentRound.czar"
    ></app-game-player-list>

    <button class="next-btn">Próxima ronda</button>
  </div>
}
