.page {
  padding: 24px;
  font-family: system-ui, sans-serif;
  position: relative;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 28px;
}

.top-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  padding: 24px;
  border-radius: 1rem;
  font-size: 20px;
  width: 216px;
  height: 246px;
  text-align: left;
}

.card.small {
  width: 222px;
  height: 222px;
}

/* BLACK CARD */
.black-card {
  background: #000;
  color: white;
}

.white-card {
  background: white;
  border: 2px solid #ccc;
}

.hand-pick {
  transition: 0.2s ease;
  cursor: default;
}

.hand-pick.can-pick:hover {
  cursor: pointer;
  border-color: black;
  transform: translateY(-3px);
}

.white-card.chosen {
  border-color: black;
  background: #efefef;
}

/* WHITE CARDS */
.white-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}

/**/

/* CONFIRM SELECTION BUTTON */
.confirm-selection-btn {
  margin-top: 8px;
  width: 100%;
  display: block;
  padding: 8px 0;
  border-radius: 1rem;
  border: 1px solid black;
  background: white;
}

.confirm-selection-btn:hover:not(:disabled) {
  background: black;
  color: white;
  cursor: pointer;
}

.bottom-section {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
