.card {
  border-radius: 1rem;
}

.list-group-item {
  transition: background-color 0.2s;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.outline-span {
  border-radius: 0.375rem;
  display: inline-block;
  background-color: transparent;
  /*border: 1px solid #6c757d;
  padding: 0.375rem 0.75rem;
  */
}
