.app-header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  width: 150px;
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 100%;
}

