/* You can add global styles to this file, and also import other style files */

@import '@fontsource/fredoka';

/*********************************
    COLORS AND TAGS OF THE APP
/*********************************/

:root {
  --background-black: rgb(0, 0, 0);
  --background-dark-purple: rgb(85, 0, 59);
  --white: #fff;
  --black: #000;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

h3 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  color: #333;
}

a {
  cursor: pointer !important;
  text-decoration: underline !important;
}

.overflow-text {
  flex-grow: 1;
  min-width: 0;
  width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* User Images */
.user-img-small {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
}

/* Inputs */
/* Bordas de input invisiveis e background mas letras visiveis */
.invisible-textarea {
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  resize: none;
}

.invisible-textarea:focus {
  color: #333;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

textarea.invisible-textarea:focus {
  border: none !important;
  box-shadow: none !important;
}

/*********************************
          CUSTOM BOOTSRAP
/*********************************/

.card {
  border-radius: 0.8rem;
}

/*********************************
          MEDIA QUERYS
/*********************************/

@media screen and (max-width: 576px) {
  .vw-75 {
    width: 100% !important;
  }
}
